.form-search{
  height: 35px;
  width: 30%;
  border-radius: 5px;
  border: 1px solid darkgrey;
}
.submit{
  height: 35px;
  width: 10%;
  margin: 0 20px;
  border-radius: 5px;
  background: bisque;
  border: 1px solid darkgrey;
}
.form-search:focus{
  outline: none;
}
.form-to-do{
  text-align: center;
  width: 100%;
}
.check-box{
  height: 35px;
  width: 10%;
}